body {
	background: url('https://s3.amazonaws.com/happygametimemedia/happygametimebackground.jpg');
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Play', sans-serif;
}

button {
	font-family: 'Play', sans-serif;
	padding: 4px 10px 4px 10px;
	margin: 0px 6px 0px 6px;
	opacity: .9;
}
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Styles For Navbar ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.navbar {
	display: inline-block;
	text-align: center;
	width: 100%;

	
}
/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*.loginAndHome {
	display: block;
	width: 100%;
	position: absolute;
}*/

.loginArea {
	display: flex;
	flex-direction: column;
	border: solid lightgrey 2px;
	line-height: .3;
	padding: 1em 0em 2em 0em;
	width: 30%;
	height: 20%;
	background: #F8F8F8;
	position: fixed;
	right: 0;
	margin: 1em;
	opacity: .9;
}

.login {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.loginButton {
	margin-top: 10px;
}

.loginInput {
	margin: 5px;
}

.page {
	text-align: center;
	display: inline-block;
	width: 100%;
	position: relative;
}

.homeSection {
	float: left;
	width: 85%;
	position: relative;
}

.homePage {
	text-align: center;
	display: inline-block;
}

.openGameInfo {
	display: inline-block;
	background: #F8F8F8;
	border: solid lightgrey 2px;
	width: 50%;
	margin: 0 0 8px 8px;
	line-height: .15;
	opacity: .9;
}

.joinGameButton {
	margin-bottom: 8px;
}

.newOpenGameViewDiv {
	height:80%; 
}

.happyGameTimeTitle {
	display: inline-block;
}

.displayed {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Styles For Login ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.invitesPage {
	padding: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: .3;
}

.inviteArea {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.tttInvitationDiv {
	width: 50%;
}

.inviteInput {
	margin: 2%;
	line-height: 2.3;
	width: 100%;
}

.inputDividerText {

}

.inviteInviteAFriend {
	line-height: .8;
}

.errorMessage {
	color: red;
}

.gameInvitationComponent {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sendInvitationButton {
	width: 25%;
}

.customInviteMessageField {
	width: 80%;
	margin: 2%;
	line-height: 2;
}

.newGameInvitationField {
	width: 80%;
	line-height: 2;
}

.invitesSubmitButton {
	width: 35%;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Styles For TicTacToe ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.tttbutton {
	width: 80px;
	line-height: 80px;
}
/*
~~~~~~ Styles For Chatbox ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.chatbox {
	position: fixed;
	width: 30%;
	background: #F8F8F8;
	border: solid lightgrey 2px;
	height: 60%;
	right: 0px;
	bottom: 0px;
	margin: 1em;
	opacity: .9;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.activeGamesDiv {
	overflow: scroll;
	float: left;
	height: 90%;
	position: fixed;
	width: 15%;
	border: solid lightgrey .2em;
	background: #F8F8F8;
	opacity: .9;
	margin: 1em;
}

.activeGameDiv {
	border: solid lightgrey .1em;
	background: white;
	line-height: .15;
	margin: .15em;
	z-index: 1;
}

.activeGamesList {
	overflow: scroll;
  height: 100%;
  float: center;
}

.activeGamesTitle {
  float: top;
}

.activeGamesButtons {
	padding-top: 2em;
	float: bottom;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
